<h1>Welcome, <%= current_user.first_name %></h1>

<h3>Your plan is <%= @subscription.name.capitalize %>, $<%= @subscription.price %>/mo.</h3>

<h4>View previous meowboxes which you've received</h4>
<ul>
  <% @subscription.boxes.each do |box| %>
  <li></li>
  <% end %>
</ul>

<%= link_to "cancel subscription", current_user, method: :delete, data: { confirm: "You sure?"} %>
