<h1><%= @subscription.name.capitalize %> Box List</h1>

<% @boxes.each do |box| %>
  <ul>
    <li><%= link_to box.title, subscription_box_path(@subscription, box) %> | <%= box.month %>. <%= box.year %></li>
  </ul>
<% end %>
