<h1><%= @box.title %></h1>
<h3><%= @box.month_year %></h3>

<strong>Item List</strong><br>
<ul>
  <% @items.each do |item| %>
   <li><%= item.title %> | <%= item.description %></li>
  <% end %>
</ul>
