<h1>$<%= @box.level %>/month Box</h1>
<p><%= @box.description %></p>

<h3>Cat toys</h3>
<p>We select toys and accessories that are fun and stimulating. Excitement can come as a potent catnip bird, cat grass seeds about to sprout, a squeaky mouse, or a handmade bow tie. We search the globe for goodies that will shake up kitty’s daily routine.</p>
<br>

<h3>Cat treats</h3>
<p>All edible items are carefully sourced from Canada or the US. Tasty treats are often single-ingredient, natural, or handmade. We search for foods which are healthy, grain-free, or local. We want kitty to discover treats that are yummy and guilt-free.</p>
<br>

<h3>A box!</h3>
<p>Your cat may suggest that the box is the best part! In a few months, kitty will come to recognize and love this special box. Rumour has it that this behaviour is because the cardboard is sprayed with a magical kitty potion.</p>
<br>
