<h1>Subscriptions</h1>

<h4>We have three plans!</h4>
<p>Click plan's name for more details</p>

<ul>
  <% @subscriptions.each do |subscription| %>
    <li><%= link_to subscription.name.capitalize, subscription %> | $<%= subscription.price %>/mo</li>
  <% end %>
</ul>
<br>
