<h1><%= @subscription.name.capitalize %> Plan</h1>

<h3>Monthly price | $<%= @subscription.price%></h3>

<p><%= @subscription.description %></p>


<h4><%= link_to "View previous meowboxes", subscription_boxes_path(@subscription) %></h4>
