<h1>Create Item</h1>

<% if params[:box_id]%>
  <%= render 'form_boxes' %>
<% else %>
  <%= render 'form' %>
<% end %>

<div class="item>
</div>


<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>
